/* .home_banner {
  background-image: linear-gradient(270deg, transparent, black),
    linear-gradient(17deg, transparent 40%, rgba(var(--color-primary), 0.5));
} */

.img {
  animation: scaleUpDown 15s infinite;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
