@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 201, 243, 29;
    --color-blur: #47474780;
  }
}

@layer components {
  .d--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outlined-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

::-moz-selection {
  color: black;
  -webkit-text-stroke-color: #000;
  background: rgb(var(--color-primary));
}

::selection {
  color: black;
  -webkit-text-stroke-color: #000;
  background: rgb(var(--color-primary));
}
