@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-primary: 201, 243, 29;
    --color-bgLight: 21, 21, 21;
    --color-blur: #47474780;
    --color-paragraph: #b6b6b6;
    --color-divider: #333333;
  }
}

@layer components {
  .d--flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outlined-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }

  .outlined-text.black {
    -webkit-text-stroke-color: #000;
  }
}

::-moz-selection {
  color: black;
  -webkit-text-stroke-color: #000;
  background: rgb(var(--color-primary));
}

::selection {
  color: black;
  -webkit-text-stroke-color: #000;
  background: rgb(var(--color-primary));
}

body {
  --sb-track-color: #444444;
  --sb-thumb-color: #c9f31d;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 14px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
